<% include template/header %>

<% duLieuJson.sanpham.forEach(function(item){
    if(item.id == idsp){ %>

 <!-- lead -->
        <div class="ish-row ish-fullrow ish-lead">
            <span class="ish-lead__caption ish-icon-up">Featured Image</span>
            <div class="ish-lead__image">
                <img src="<%= item.avatar %>" alt="wawererly design">
            </div>
            <h1 class="ish-lead__headline">
				<span class="ish-lead__headline-inner"><%= item.title %><br><%= item.category %></span>
            </h1>
        </div>
        <!-- lead end -->



        <!-- content -->
        <div class="ish-row ish-content">

            <div class="ish-col-xs-12 ish-col-sm-4 ish-last-xs ish-first-sm ish-content__sidebar">

                <!-- side content -->
                <p>
                    <%= item.description %>
                </p>

                <ul class="ish-sidebar-mdata post-meta">
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Client</strong>
                        IshYoBoy
                    </li>
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Work Done</strong>
                        Website, Logotype, Visual Identity
                    </li>
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Category</strong>
                        <a href="#">Website</a>
                    </li>
                    <li class="ish-sidebar-mdata__item">
                        <strong class="ish-sidebar-mdata__title post-meta-key">Link</strong>
                        <a href="https://ishyoboy.com" target="_blank">ishyoboy.com</a>
                    </li>
                </ul>

                <hr>

                <div class="ish-sidebar-share">
                    <strong class="ish-sidebar-share__desc">Share</strong>
                    <ul class="ish-sidebar-share__list">
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-facebook ish--tc3"></a>
                        </li>
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-behance ish--tc3"></a>
                        </li>
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-dribbble ish--tc3"></a>
                        </li>
                        <li class="ish-sidebar-share__list-item">
                            <a href="#" class="ish-sidebar-share__list-link ish-sc-el ish-sc-icon ish-icon-twitter ish--tc3"></a>
                        </li>
                    </ul>
                </div>

                <hr>

                <ul class="ish-prev-next">
                    <li class="ish-prev-next__item ish-prev-next--left">
                        <a class="ish-prev-next__link" href="portfolio-detail2.html">Previous</a>
                        <span class="ish-prev-next__icon ish-icon-left"></span>
                    </li>
                    <li class="ish-prev-next__item ish-prev-next--right">
                        <a class="ish-prev-next__link" href="portfolio-detail2.html">Next</a>
                        <span class="ish-prev-next__icon ish-icon-right"></span>
                    </li>
                </ul>
                <!-- side content end -->

            </div>

            <div class="ish-col-xs-12 ish-col-sm-7 ish-col-sm-offset-1 ish-content__main">
            <% item.images.forEach(function(image){ %>
                    <a class="ish-image ish-lightbox" href="<%= image %>">
                        <img class="ish-image__image" src="<%= image %>" alt="logotype design">
                        <span class="ish-image__caption">Logotype Design</span>
                    </a>
            <% }) %>
                

            </div>

        </div>
        <!-- content end -->


<%    }
}) %>

     <% include template/footer %>