

<% include template/header %>

		<!-- lead -->
		<a class="ish-row ish-fullrow ish-lead" href="portfolio-detail1.html">
			<span class="ish-lead__caption ish-icon-up">Featured Portfolio</span>
			<div class="ish-lead__image">
				<img src="./images/header.jpg" alt="work in silent">
			</div>
			<h1 class="ish-lead__headline">
				<span class="ish-lead__headline-inner">Workin<br>Silent</span>
			</h1>
		</a>
		<!-- lead end -->



		<!-- content -->
		<div class="ish-row ish-content ish-portfolio ish-macy">

      <!-- main content -->
			<ul class="ish-portfolio-item ish-portfolio-filter">
				<li class="ish-portfolio-filter__item ish-portfolio-filter--title"><h5>Filter:</h5></li>
				<li class="ish-portfolio-filter__item"><a class="ish-portfolio-filter__link ish-portfolio-filter__link--active" href="#all">All</a></li>
				<% duLieuJson.sanpham.forEach(function(item){ %>
                     <li class="ish-portfolio-filter__item"><a class="ish-portfolio-filter__link" href="<%= item.category %>"><%= item.category %></a></li>
				<% }) %>

			</ul>
			<% duLieuJson.sanpham.forEach(function(item){ %>
				<a class="ish-portfolio-item ish--tc13 ish-portfolio-<%= item.category %>" href="chi-tiet-sp-<%= item.id %>">
					<div class="ish-portfolio-item__image-container">
						<img class="ish-portfolio-item__image" src="<%= item.avatar %>" alt="business cards">
					</div>
					<div class="ish-portfolio-item__desc">
						<span class="ish-portfolio-item__title"><%= item.title %></span>
						<span class="ish-portfolio-item__subtitle"><%= item.category %></span>
					</div>
				</a>
			<% }) %>
			
			
      <!-- main content end -->
		</div>
		<!-- content end -->


		<% include template/footer %>